* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: rgb(43, 41, 41);
  color: #fff;
}

button {
  cursor: pointer;
}

h3 {
  color: #fff;
  margin: 10px 0;
}

p {
  color: #fff;
  margin: 10px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.main {
  width: 800px;
  margin: 100px auto;
}

.dark {
  background: 000;
}

.light {
  background: #fff;
}

.main h1 {
  color: #fff;
}

.main ul {
  list-style: none;
  margin-top: 20px;
}

.main ul li {
  margin-top: 10px;
}

.actions {
  margin-top: 15px;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  justify-content: space-between;
}

.btnAction {
  background: cornflowerblue;
  color: #fff;
  padding: 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
}

.container_login {
  max-width: 80%;
  background: cornsilk;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 10px;
}

.login_row {
  margin: 1rem 0;
}

.label_login {
  color: #000;
  margin-right: 10px;
}

.login_row input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
}

.title-dark {
  color: #111;
}

.form_effect {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form_effect input {
  padding: 10px;
  margin-top: 5px;
  width: 50%;
}
